<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.game.ziipin.badamsdkv2">
    <!-- 爱贝支付所需要的权限 start -->
    <!-- 银联相关配置 -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.hardware.nfc.hce" /> <!-- 银联相关配置 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- 银联相关配置 -->
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".BaseApp"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PayActivity" android:screenOrientation="landscape"/>
        <activity android:name=".UpdateRoleActivity"/>


        <!-- 爱贝支付设置 start -->
        <!-- 爱贝 -->
        <!-- 银联支付相关配置 -->
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" /> <!-- 网页显示界面 -->
        <activity
            android:name="com.iapppay.sdk.main.WebActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.iapppay.ui.activity.PersonCenterActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- 收银台普通界面 -->
        <activity
            android:name="com.iapppay.ui.activity.PayHubActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- 选择充值金额界面 -->
        <activity
            android:name="com.iapppay.ui.activity.SelectAmountActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.iapppay.ui.activity.ChargeActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- 游戏卡和话费卡充值界面 -->
        <activity
            android:name="com.iapppay.ui.card.GamepayActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- alipay sdk begin (新的支付宝) -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" /> <!-- alipay sdk end -->
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" /> <!-- 银联3.3.3start -->
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />

        <!-- badam WAP, 如果游戏是横屏的, 请在 本 activity 中加 android:screenOrientation="landscape" 强制使用 横屏-->
        <activity
            android:name="com.ziipin.pay.sdk.library.WebPayActivity"
            android:exported="false"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|layoutDirection|smallestScreenSize"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.WebPay">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="com.badam.pay2sdk.WEBPAY"/>
            </intent-filter>
        </activity>
    </application>

</manifest>